ssh_public_key  = "ssh-ed25519 AAAA..."
fcos_image_path = "file:///absolute/path/to/fedora-coreos-stable-x86_64.qemu.qcow2"
# vm_ip      = "192.168.200.10"  # optionnel, valeur par défaut
# vm_gateway = "192.168.200.1"   # optionnel
