# /etc/haproxy/haproxy.cfg

global
    log /dev/log local0
    maxconn 4096
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5s
    timeout client 50s
    timeout server 50s


# API Server K3s (6443)
frontend k3s-api
    bind *:6443
    mode tcp
    default_backend k3s-masters

backend k3s-masters
    balance roundrobin
    option tcp-check
    server k3s-master-1 10.0.1.11:6443 check fall 3 rise 2
    server k3s-master-2 10.0.1.12:6443 check fall 3 rise 2
    server k3s-master-3 10.0.1.13:6443 check fall 3 rise 2


# Ingress HTTP (80)
frontend ingress-http
    bind *:80
    default_backend ingress-http-backend

backend ingress-http-backend
    balance roundrobin
    server k3s-node-1 10.0.1.11:80 check
    server k3s-node-2 10.0.1.12:80 check
    server k3s-node-3 10.0.1.13:80 check


# Ingress HTTPS (443)
frontend ingress-https
    bind *:443
    default_backend ingress-https-backend

backend ingress-https-backend
    balance roundrobin
    server k3s-node-1 10.0.1.11:443 check
    server k3s-node-2 10.0.1.12:443 check
    server k3s-node-3 10.0.1.13:443 check


# Stats HAProxy (optionnel)
listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /
    stats refresh 10s
    stats show-legends
